<header class="fixed inset-x-0 top-0 z-10 border-b border-gray-950/5 dark:border-white/10">
  <div class="bg-white dark:bg-gray-950">
    <div class="flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
      <div class="flex items-center gap-4">
        <a class="shrink-0 text-gray-600" aria-label="Home" routerLink="/">
          <HomeIcon/>
        </a>
      </div>
      <div class="flex items-center gap-6">
        <ng-container *ngIf="!currentPrincipal()">
          <p-button link routerLink="/login">
            Login
          </p-button>
        </ng-container>

        <ng-container *ngIf="!!currentPrincipal()">
          <p-button link (click)="menu.toggle($event)">
            {{ currentPrincipal()?.displayName }}
            <CaretLeftIcon class="scale-75 transition-rotate duration-125"
                           [class.rotate-90]="menu.visible"
                           [class.rotate-270]="!menu.visible"
            />
          </p-button>
<!--          <p-popover #menu styleClass="p-menu p-component" --p-popover-gutter>-->
<!--            <ul class="p-menu-list">-->
<!--              <li class="p-menu-item">-->
<!--                <div class="p-menu-item-content">-->
<!--                  <a pRipple class="flex items-center p-menu-item-link" (click)="logout()">-->
<!--                    <span class="pi pi-sign-out"></span>-->
<!--                    <span class="ml-2">Log out</span>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </p-popover>-->
          <p-menu #menu popup>
            <ng-template #end>
              <ul class="p-menu-list">
                <li class="p-menu-item">
                  <div class="p-menu-item-content">
                    <a pRipple class="flex items-center p-menu-item-link" (click)="logout()">
                      <span class="pi pi-sign-out"></span>
                      <span class="ml-2">Log out</span>
                    </a>
                  </div>
                </li>
              </ul>
            </ng-template>
          </p-menu>
        </ng-container>
      </div>
    </div>
  </div>
</header>
<main class="content pt-18">
  <router-outlet/>
</main>
